# cmake

/CMakeFiles/
*.vcxproj
*.vcxproj.filters
CMakeCache.txt
*.sln
cmake_install.cmake

#cmake --build
Debug/

# ninja build
.ninja_deps
.ninja_log
TestAPI.exe
*.ninja

# gsoap
source/SOAP/*.xml
source/SOAP/*.h
source/SOAP/*.cpp
source/SOAP/*.nsmap
